.wq-content-all-pages {
    padding: 70px 0 0;
    background: #f8f8f8a1 !important;
}
.wq-content-all-pages .container {
    position: relative;
}
.wq-content-all-pages .container:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 50px;
    background-color: #dedede;
}
.wq-content-all-pages .wq-titulo-03 {
    margin-top: 0;
}
.wq-content-all-pages p {
    margin: 4px 0 8px;
    font-size: 18px;
    color: #26282d;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px;
}

.wq-identidade-01 {
    padding: 55px 0 35px !important;
    background-color: #4a316b;
}
.wq-identidade-01 .wq-titulo h2 {
    max-width: 700px;
}
.wq-identidade-01 .row {
    margin-top: 90px;
}
.wq-identidade-item h3 {
    font-weight: 500;
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #f1cb59;
}
.wq-identidade-item p {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 5px;
}
.wq-identidade-01 .row .col-xl-3 {
    margin-bottom: 30px;
}
.wq-identidade-01 .wq-titulo-01,.wq-identidade-01 .wq-titulo-01 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wq-identidade-01 .wq-titulo-01 h2{
    color: #fff;
    text-align: center;
}
.wq-identidade-01 .wq-titulo-01 h2::after{
    background-color: #f1cb59;
}




.wq-conteudo-textual {
    padding: 70px 0 65px;
}
.wq-conteudo-textual p,
.wq-conteudo-textual li {
    font-size: 18px;
    color: #26282d;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 1.66em;
}
.wq-conteudo-textual p span {
    display: inline-block;
    font-weight: 600;
}
.wq-conteudo-textual em {
    font-weight: 600;
}
.wq-conteudo-textual h3 {
    margin-bottom: 30px;
    font-weight: 500;
    color: #4a2a74;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.075em;
}
.wq-titulo-03,
.wq-conteudo-textual h2 {
    font-weight: 500;
    color: #4a2a74;
    font-size: 25px;
    letter-spacing: 0.075em;
    margin: 18px 0 30px;
}
.wq-conteudo-textual h4 {
    font-size: 24px;
    font-weight: 700;
    color: #4a2a74;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.wq-conteudo-textual .wq-p-agencia {
    margin-bottom: 2px;
    max-width: 900px;
}
.wq-conteudo-textual ul {
    margin: 20px 0;
}
.wq-conteudo-textual li {
    margin-bottom: 0;
}

.wq-tabs-01 .nav.nav-tabs li a img {
    display: block;
    height: 45px;
    width: auto;
    margin-bottom: 15px;
    transition: all 0.2s linear;
}
.wq-tabs-01 .nav.nav-tabs li a.active img,
.wq-tabs-01 .nav.nav-tabs li a:hover img {
    filter: grayscale(1) brightness(300);
}
.wq-tabs-01 .nav.nav-tabs li > div {
}

.tab-pane.active .wq-conteudo li {
    margin-bottom: 5px;
}
.wq-tabs-01 {
    padding: 60px 0;
}
.tab-pane.active .wq-conteudo,
.tab-pane.active .wq-wrapper-tab {
    animation: fadeIn;
    animation-duration: 2000ms;
}
.wq-tabs-01 .nav.nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border: none;
    margin-top: 0;
    margin-bottom: 80px;
    padding-right: 0;
}
.wq-tabs-01 .nav.nav-tabs li a {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    word-break: break-word;
    letter-spacing: 2px;
    color: #4a2a74;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 5px;
    width: 165px;
    text-align: center;
    line-height: 1.2;
    height: 140px;
}
.wq-tabs-01 .nav.nav-tabs li a.active,
.wq-tabs-01 .nav.nav-tabs li a:hover {
    color: #fff;
    background: #4a2a74;
}
.wq-tabs-foco .nav.nav-tabs {
    border: none;
}
.wq-tabs-foco .nav.nav-tabs li a {
    background-color: #461d7c;
    color: #fff;
    padding: 15px 20px;
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.2s linear;
    margin-right: 10px;
}
.wq-tabs-foco .nav.nav-tabs li a:hover,
.wq-tabs-foco .nav.nav-tabs li a.active {
    background-color: #956da9;
}
.wq-tabs-foco .tab-content {
    margin-top: 30px;
}
.wq-wrapper-tab {
    display: grid;
    grid-template-columns: 45% 1fr;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
}
.wq-wrapper-tab figure img {
    display: block;
    width: 100%;
    height: auto;
}
.tab-pane .wq-conteudo {
    display: flex;
    flex: 2;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wq-texto,
.wq-imagem {
    display: block;
    width: 50%;
    height: auto;
    padding: 0 1%;
}
.wq-imagem figure img {
    display: block;
    width: calc(100% - 30px);
    height: auto;
    margin: 0 0 0 auto;
    object-fit: contain;
    border-radius: 5px;
}

.wq-faq-new{
    background-color: #f4f7fc;
}

.wq-banner-all-pages + .wq-identidade-01{
    background-color: #fff;
}

.wq-banner-all-pages + .wq-identidade-01 .wq-identidade-item h3 {
    color: #4a316b;
}
.wq-banner-all-pages + .wq-identidade-01 .wq-titulo-01{
    max-width: 900px;
    margin: 0 auto 30px;
    text-align: center;
}
.wq-banner-all-pages + .wq-identidade-01 .wq-identidade-item p,
.wq-banner-all-pages + .wq-identidade-01 .wq-titulo-01 h2{
    color: #26282d;
}



.wq-papelaria-identidade {
    background-color: #f4f7fc;
    padding: 60px 0;
}
.wq-papelaria-identidade figure img {
    max-width: none;
}
.wq-box-cases-listagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.2s linear;
    position: relative;
    border-radius: 3px;
    margin-bottom: 30px;
}
.wq-box-cases-listagem figure img {
    display: block;
    width: calc(100% - 50px);
    height: 100px;
    margin: 0 auto;
    object-fit: contain;
    transition: all 0.2s linear;
}
.wq-box-cases-listagem:hover {
    background-color: #d0c7da;
}
.wq-box-cases-listagem:hover figure img {
    filter: none;
}
.wq-box-cases-listagem figure {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.wq-box-cases-listagem figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #4a316b;
    transition: all 0.2s linear;
    opacity: 0;
}
.wq-box-cases-listagem:hover figcaption {
    opacity: 1;
}
.wq-box-cases-listagem:hover {
    box-shadow: 10px 10px 12px rgba(62, 45, 84, 0.15);
}
.wq-box-cases-listagem figcaption h4 {
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    margin-top: 5px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
}
.wq-box-cases-listagem figcaption p {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    margin-bottom: 5px;
}
.wq-box-cases-listagem img {
    display: block;
    height: auto;
    width: 100%;
}
.wq-box-cases-listagem figcaption a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #f7cb45;
    border: 2px solid;
    border-color: #f7cb45;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 8px;
    margin-top: 5px;
    transition: all 0.2s linear;
}
.wq-box-cases-listagem figcaption a:hover {
    background-color: #f7cb45;
    color: #fff;
}
.wq-box-cases-listagem figcaption a span {
    margin-left: 5px;
}
.wq-box-cases-listagem figcaption {
    background-color: rgba(74, 49, 107, 0.85);
}
.wq-papelaria-identidade .wq-titulo-01,.wq-papelaria-identidade .wq-titulo-01 h2,
.wq-new-cta .wq-titulo-01, .wq-new-cta .wq-titulo-01 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.wq-papelaria-identidade .wq-titulo-01{
    max-width: 900px;
    margin: 0 auto 40px;
}

.wq-01-case-interno {
    padding: 65px 0;
    background-color: #fff;
}




.wq-identidade-02 {
    padding: 80px 0 80px;
    background: #2b2b6e;
}
.wq-identidade-02 .wq-titulo h2,
.wq-identidade-02 .wq-titulo p {
    text-align: left;
}
.wq-identidade-02 .wq-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}
.wq-identidade-02 .wq-wrapper a {
    display: flex;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 40px 15px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.wq-identidade-02 .wq-wrapper a figure {
    width: 100%;
}
.wq-identidade-02 .wq-wrapper a figure img {
    display: block;
    height: 86px;
    width: 100%;
    object-fit: contain;
}

.wq-identidade-02 .wq-titulo-01 h2,
.wq-identidade-02 .wq-titulo-01 p{
    color: #fff;
}
.wq-identidade-02 .wq-titulo-01 h2::after{
    background-color: #f7cb45;
}
.wq-05-case-interno{
    padding: 80px 0;
}

.wq-lista-02 {
    margin-bottom: 25px;
}
.wq-lista-02 li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    color: #4a316b;
    padding-left: 20px;
    position: relative;
    margin-bottom: 5px;
}
.wq-lista-02 li::before,
.wq-lista-03 li h3::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #461d7c;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 5px;
}


.wq-new-cta {
    padding: 80px 0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.wq-new-cta .wq-titulo-01{
    max-width: 900px;
    margin: 0 auto;
}
.wq-new-cta .wq-btn-new{
    margin-top: 30px;
}
.wq-new-cta .wq-titulo-01 h2{
    color: #fff;
}
.wq-new-cta .wq-titulo-01 h2::after{
    background-color: #f7cb45;
}